
.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6A829A;
    border-radius: 20px;
    height: 45vh;
    width: 20vw;
    text-align: center;
    font-size: calc(6px + 1vmin);
    margin-inline: 20px;
}

.img {
    height: 40px;
    width: 40px;
}
