
.coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #B08E75;
    border-radius: 20px;
    height: 45vh;
    width: 20vw;
    text-align: center;
    font-size: calc(8px + 1vmin);
    margin-inline: 20px;
}

.img {
    height: 50px;
    width: 50px;
}
