
.coffee {
    background: aliceblue;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-right: 100px;
    margin-top: -20px;
}
