
.office {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

.two_desk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


