
.employee {
    width: 70px;
    height: 100px;
    border-radius: 100px;
    background-color: antiquewhite;
    display: inline-block;
}

.text {
    text-align: center;
    font-size: 20px;
    color: black;
}