
.meeting {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6A829A;
    border-radius: 20px;
    height: 70vh;
    width: 20vw;
    font-size: calc(8px + 1vmin);
    margin-right: 1vw;
}

.meeting_img {
    height: 50px;
    width: 50px;
}