
.desk {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: #EDD6B6;
  border-radius: 20px;
  height: 20vh;
  width: 15vw;
  color: black;
  margin-inline: 10px;
}

.desk_img {
  margin: 30px;
  height: 50px;
  width: 50px;
}