
.desk {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: #9BD1E5;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  color: black;
  margin-inline: 10px;
}

.desk_img {
  height: 40px;
  width: 40px;
}